# Default ignored files
/shelf/
/.idea/workspace.xml

.gradle
/build/
/out/
/build-cache/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
